apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  - hpa.yaml

images:
  - name: wolfix1245/complex
    newTag: "b94df91d83ad3a05df2cb93e668199082efad161"  # This will be updated by CI

commonLabels:
  environment: production