apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  - hpa.yaml

images:
  - name: wolfix1245/userwebsite
    newTag: "2.5"  # This will be updated by CI

commonLabels:
  environment: production